<template lang="html">
    <tr>
        <td>
            <select type="text"  class="form-control"
                    v-model="editForm.category" v-if="edit"
            >
                <option value="pizza">pizza</option>
                <option selected value="sushi">sushi</option>
                <option value="drinks">drinks</option>
                <option value="sausages">sausages</option>
                <option value="gorjachie-rolly">gorjachie-rolly</option>
                <option value="sety">sety</option>
                <option value="rolly">rolly</option>
                <option value="deserty">deserty</option>
                <option value="zakuski">zakuski</option>
                <option value="zapechennye-rolly">zapechennye-rolly</option>
                <option value="dop">dop</option>
            </select>
            <span  v-else>{{ bid.category }}</span>
        </td>
        <td>
            <input type="text"  class="form-control"
                v-model="editForm.name" v-if="edit"
            >
            <span v-else>{{ bid.name }}</span>
        </td>
        <td>
            <input type="text"  class="form-control"
                v-model="editForm.price" v-if="edit"
            >
            <span v-else>{{ bid.price }}</span>
        </td>
        <td>
            <input type="text"  class="form-control"
                v-model="editForm.weight" v-if="edit"
            >
            <span v-else>{{ bid.weight }}</span>
        </td>
        <td>
            <input type="text"  class="form-control"
                v-model="editForm.diameter" v-if="edit"
            >
            <span v-else>{{ bid.diameter }}</span>
        </td>
        <td>
            <input type="text"  class="form-control"
                v-model="editForm.article" v-if="edit"
            >
            <span v-else>{{ bid.article }}</span>
        </td>
        <td>
            <input type="text"  class="form-control"
                v-model="editForm.composition" v-if="edit"
            >
            <span v-else>{{ bid.composition }}</span>
        </td>
        <td>
            <input type="text"  class="form-control"
                v-model="editForm.description" v-if="edit"
            >
            <span v-else>{{ bid.description }}</span>
        </td>


        <!--td>
            <form v-if="ac" v-on:submit.prevent="createComment" method="post">
            <div v-bind:class="{'form-group': true, 'has-error': errors}">
                <label>New Comment:</label>
                <textarea  v-model="commentAdd.text" class="materialize-textarea"></textarea>
                <input type="hidden" v-model="commentAdd.bid_id = bid.id">
                <input type="hidden" v-model="commentAdd.author = user_id">
                <span class="help-block" v-for="error in errors">{{ error }}</span>
            </div>
            </form>

            <!-- <div v-for="comment in comments" v-if="!ac && comment.bid_id === bid.id" :title="comment.author+' '+comment.created_at">{{ comment.text }}</div> -->
            <!--div v-for="comment in comments" v-if="!ac && comment.bid_id === bid.id">
             {{ comment.text }}<md-tooltip md-direction="top">{{ comment.author+' '+comment.created_at }}</md-tooltip>
             </div>

        </td-->

        <td>
            <!--button type="button" class="btn btn-info btn-xs"
                v-on:click="addcomment" v-if="!ac && !edit"
            ><i class="large material-icons">comment</i>
                
            </button-->

            <button type="button" class="btn btn-info btn-xs blue"
                v-on:click="editBid" v-if="!edit && !ac"
            ><i class="fa fa-edit "></i>
                
            </button>

            <button type="button" class="btn btn-primary btn-xs"
                v-on:click="updateUser(bid, editForm)" v-if="edit && !ac"
            >
                <i class="fa fa-check-square"></i> Update
            </button>
            
            <button type="button" class="btn btn-default btn-xs purple darken-3"
                v-on:click="cancelEdit" v-if="edit && !ac"
            >
                <i class="fa fa-times-circle"></i> Cancel
            </button>

            <button type="button" class="btn btn-danger btn-xs red"
                v-on:click="$emit('delete-bid', bid)" v-if="!edit && !ac"
            ><i class="fa fa-trash-o "></i>
                
            </button>

            <button type="button" class="btn btn-success btn-xs cyan darken-1"
                v-on:click="createComment" v-if="ac"
            ><i class="material-icons right">send</i>
                Send
            </button>

            <button type="button" class="btn btn-default btn-xs purple darken-3"
                v-on:click="cancelcomment" v-if="ac" 
            >
                Cancel
            </button>

        </td>
    </tr>
</template>

<script>
export default {
    props:['bid', 'comments', 'user_id'],
    data(){
        return {
            edit: false,
            ac: false,
            editForm :{
            },
            commentAdd: {
                text: '',
                author: '1',
                bid_id: ''
            }
        }
    },
    methods: {
        addcomment(){
            this.ac = true;
        },
        createComment(){
            axios.post('/comments/', this.commentAdd).then(response => {
                this.comments.push(response.data.com);
                this.commentAdd = {text: '', bid_id:''};
                //this.$emit('update-com');
                this.cancelcomment();
                if (this.errors) {
                    this.errors = [];
                }
                console.log(response.data);
            }, response => {
                this.errors = response.data;
            });
        },
        editBid(){
            this.edit = true;
            this.editForm.category = this.bid.category;
            this.editForm.name = this.bid.name;
            this.editForm.price = this.bid.price;
            this.editForm.weight = this.bid.weight;
            this.editForm.diameter = this.bid.diameter;
            this.editForm.article = this.bid.article;
            this.editForm.composition = this.bid.composition;
            this.editForm.description = this.bid.description;
        },
        cancelEdit(){
            this.edit = false;
            this.editForm.category = '';
            this.editForm.name = '';
            this.editForm.price = '';
            this.editForm.weight = '';
            this.editForm.diameter = '';
            this.editForm.article = '';
            this.editForm.composition = '';
            this.editForm.description = '';
        },
        cancelcomment(){
            this.ac = false;

        },
        updateUser(oldUser, newUser){
            axios.patch('/bids/' + oldUser.id, newUser).then(response => {
                this.$emit('update-bid');
                this.cancelEdit();
                console.log(response.data);
            }, (response) => {
                console.log(response.data);
            });
        }
    }
}
</script>