<template lang="html">
    <div >
        <table class="table">
            <thead>
                <tr>
                    <th>category</th>
                    <th>name</th>
                    <th>price</th>
                    <th>weight</th>
                    <th>diameter</th>
                    <th>article</th>
                    <th>composition</th>
                    <th>description</th>
                    <th>action</th>
                </tr>
            </thead>
            
            <tbody>
                <Bid v-for="bid in bids" 
                    v-bind:bid="bid"
                    v-bind:comments="comments"
                    v-bind:user_id="user_id"
                    v-on:delete-bid="deleteBid"
                    v-on:update-bid="fetchBids"
                >
                </Bid>
            </tbody>
        </table>
    </div>
</template>

<script>
import Bid from './Bid.vue';
export default {
    props:['user_id'],
    data(){
        return {
            user: '',
            bids: [],
            comments: [],
            errors: [],
            bid:{
                name: '',
                phone: ''
            }
        }
    },
    components:{ Bid },
    created(){
        this.fetchBids();
        //this.fetchComments();
        if (user_id == 1) {this.user = user_id};
    },
    methods: {
        fetchBids(){
            axios.get('/bids')
                .then(response => {
                this.bids = response.data.bids.reverse();
            })
            .catch(e => {
                    this.errors.push(e)
            });
        },
        // fetchComments(){
        //     this.$http.get('/comments').then(response => {
        //         this.comments = response.data.comments;
        //     });
        //},
        deleteBid(bid){
            axios.delete('/bids/' + bid.id).then(response => {
                let index = this.bids.indexOf(bid);
                this.bids.splice(index, 1);
                console.log(response.data);
            });
        }
    } 
}
</script>
